
<nav class="col-md-3">
    <ul>
        <li class="<%= active == 'dashboard' ? 'active' : ''%>"><a href="/admin/Dashboard">Dashboard</a></li>
        <li class="<%= active == 'voters' ? 'active' : ''%>"><a href="/admin/voters">Voters</a></li>
        <li class="<%= active == 'votes' ? 'active' : ''%>"><a href="/admin/votes">Votes</a></li>
        <li class="<%= active == 'candidate' ? 'active' : ''%>"><a href="/admin/candidate">Candidate</a></li>
        <li class="<%= active == 'ballot' ? 'active' : ''%>"><a  href="/admin/ballot">Ballot</a></li>
    </ul>
</nav>