
<nav class="col-md-3">
    <ul>
        <li class="<%= active == 'dashboard' ? 'active' : ''%>">
            <a href="/admin/Dashboard"><i class="far fa-home"></i>Dashboard</a>
        </li>
        <li class="<%= active == 'voters' ? 'active' : ''%>">
            <a href="/admin/voters"><i class="fas fa-user-check"></i>Voters</a>
        </li>
        <li class="<%= active == 'votes' ? 'active' : ''%>">
            <a href="/admin/votes"> <i class="far fa-vote-yea"></i>Votes</a>
        </li>
        <li class="<%= active == 'candidate' ? 'active' : ''%>">
            <a href="/admin/candidate"> <i class="fal fa-poll-people"></i> Candidate</a>
        </li>
        <li class="<%= active == 'ballot' ? 'active' : ''%>">
            <a  href="/admin/ballot"> <i class="far fa-box-ballot"></i>Ballot</a>
        </li>
    </ul>
</nav>